.Title {
    font-size: 24px;
}
.btn-create {
    display: flex;
    justify-content: flex-end;
}
.btn-ExportToExcel {
    border: 2px solid #237804;
    color: #237804;
    cursor: pointer;
}
.btn-ExportToExcel:hover {
    color: #a7008e;
    background-color: #237804;
}
