.form-roles {
    display: flex;
    width: 100%;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #aaaaaa;
}

.rd-form {
    display: flex;
    align-items: center;
    border: 1px solid #aaaaaa;
    padding: 10px 20px;
    margin: 0 20px 10px 0;
    width: 380px;
    min-height: 60px;
}