.Title {
    font-size: 24px;
}

.action-btn{
    display: flex;
    justify-content: space-around;
}

.btn-create {
    display: flex;
}

.btn-ExportToExcel {
    border: 2px solid #237804;
    color: #237804;
    cursor: pointer;
}

.btn-ExportToExcel:hover {
    color: #a7008e;
    background-color: #237804;
}