.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    height: 400px;
    text-align: center;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .product__select {
        height: 5%;
    }

    .product__img {}

    .product__info {}
}