.title{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    .btn-addNew{
        border: 1px solid #333;
        border-radius: 10px;
        background-color: #15ff9d;
        transition: all .1s linear;

        &:hover{
            background-color: #0f7f6f;
            color: #fff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
}